streamlit
openai
langchain 
faiss-cpu 
pandas 
langgraph 
pyngrok 
matplotlib 
boto3
langchain-community
tiktoken sentence-transformers
streamlit-option-menu
streamlit-lottie
python-docx
numpy
bcrypt
